spring:
  application:
    name: LibraryApi

  datasource:
    url: jdbc:postgresql://localhost:5432/library_db
    username: root
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
